<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div class="container" layout:fragment="main-body">
    <div class="row" style="margin-top: 40px">
        <div class="col-lg-12">
            <div class="page-header">
                <h2 id="tables">Make Demo Account</h2>
            </div>
            <div class="bs-component">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Status</th>
                        <th scope="col">Demo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.getName()}" style="vertical-align:middle"></td>
                        <td th:text="${user.getStatus()}" style="vertical-align:middle"></td>
                        <td style="vertical-align:middle"
                            th:if="${user.getStatus() != 'demo' && user.getStatus() != 'admin'}">
                            <form th:action="@{/admin/demo}" th:object="${demoForm}" method="POST">
                                <input type="hidden" class="form-control" name="userId" th:value="${user.getKey()}">
                                <button type="submit" class="btn btn-primary">Make Demo</button>
                            </form>
                        </td>
                        <td style="vertical-align:middle" th:if="${user.getStatus() == 'demo'}">
                            This account is already a demo account.
                        </td>
                        <td style="vertical-align:middle" th:if="${user.getStatus() == 'admin'}">
                            You cannot make administrator accounts demo accounts.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</html>